@import "./utils/variables.scss";

.not-found {
    display: flex;
    justify-content: center;
    height: 80vh; 
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 50px;
    }
    &__code {
        font-size: 288px;
        margin: 0; 
        color: $red;
    }
    &__message {
        font-size: 24px; 
        margin: 0; 
        color: $red;
        font-weight: $font-weight-medium;
    }
    &__link {
        font-size: 18px; 
        text-decoration: underline;
        cursor: pointer; 
        color: black;
        font-weight: $font-weight-medium;
        &:visited {
            color:inherit;
        }
    }
}
// Responsive pour mobiles
@media (max-width: 768px) {
    .not-found {
        height: 70vh;
        &__content {
            margin-top: 40px;
        }
        &__code {
            font-size: 96px;
        }
        &__message {
            font-size: 18px;
            text-align: center;
        }
        &__link {
            font-size: 14px;
        }
    }
}