
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

    text-align: center;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px; 
        padding: 20px;
    }

    &__code {
        font-size: 288px;
        margin: 0; 
    }

    &__message {
        font-size: 24px; 
        margin: 0; 
    }

    &__link {
        font-size: 18px; 

        text-decoration: underline;
        cursor: pointer; 
    }
}
