//FONT
$main-font: 'Montserrat', sans-serif;

//FONT-SIZE
$title-size: 36px;
$subtitle-size: 24px;
$text-size: 18px;

//FONT-WEIGHT
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

//COLORS
$footer-bg: #000;
$grey: #F6F6F6;
$white: #fff;
$red: #ff6060; 

//BORDER RADIUS
$main-bradius: 25px;

//SHADOWS
$txt-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);