//FONT
$main-font: 'Montserrat', sans-serif;

//FONT-SIZE
$title-size: 36px;
$subtitle-size: 24px;
$text-size: 18px;

//FONT-WEIGHT
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

//COLORS
$black: #000;
$white: #fff;
$red: #ff6060; 