@import "../utils/variables.scss";

.collapse {
    &__toggle-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: $red;
        color: $white;
        padding: 15px;
        border-radius: 15px;
    }
    &__title {
        margin: 0;
    }
    &__arrow {
        width: 24px;
        height: 14px;
        transition: transform 0.5s ease;
    }
    &__arrow.open {
        transform: rotate(-180deg);
    }
    &__content {
        background-color: $grey;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        padding: 30px;
        font-weight: $font-weight-medium;
        font-size: $text-size;
    }
    &__content ul {
        list-style-type: none;
        padding: 0;
    }
}
// Responsive pour mobiles
@media (max-width: 768px) {
    .collapse {
        &__title {
            font-size: 18px;
        }
        &__content {
            font-size: 14px;
        }
    }
}
