@import "../utils/variables.scss";

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: $gallery-bg;
    border-radius: $main-bradius;
    padding: 60px;
    margin-top: 30px;
}